:root {
  --bar-height: 24px;
}

.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--bar-height);

  color: white;
  color: rgba(255, 255, 255, .95);
  font-family: "SF Mono";
  display: grid;
  grid-template-areas: 'spaces music title stats clock';
  grid-template-columns: auto auto 1fr auto auto;
  grid-column-gap: 20px;
  align-items: center;
  font-size: 13px;
  letter-spacing: 0.2px;

  padding-right: 30px;
  padding-left: 10px;
  box-sizing: border-box;
}

.bar.bg {
  background-color: rgba(0, 0, 0, 1);
  z-index: -1;
}


.spaces {
  grid-area: spaces;
}

.music {
  grid-area: music;
  max-width: 50ch;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bold {
  font-weight: 600;
}

.clock {
  font-weight: 400;
  grid-area: clock;
}

.stats {
  font-weight: 400;
  grid-area: stats;
  display: flex;
}

.stats .stat:not(:last-child) {
  display: inline-block;
  margin-right: 10px;
}

.title {
  font-weight: 400;
  grid-area: title;
  text-align: center;
  position: relative;
}

.title-content {
  position: fixed;
  height: var(--bar-height);
  line-height: var(--bar-height);
  top: 0;
  width: 60vw;
  left: 50%;
  transform: translateX(-50%);

  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1920px) {
  .title-content {
    width: 40vw;
  }
}